<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="/home">WebBank</a>
    <div class="navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" onmouseenter="showLogout()" onmouseleave="hideLogout()">
                <a class="nav-link" href="#" id="userDisplayName"></a>
                <div class="btn" id="logout-btn">
                    <span class="dropdown-item" onclick="logout()">Logout</span>
                </div>
            </li>
        </ul>
    </div>
</nav>