<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Webbank</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  {{!-- <script>
    function checkToken() {
       // alert("run");
        if (!localStorage.getItem('username')) {
            //alert(3);
            window.location = '/unauthorised';
        }
    }
    window.load = checkToken();
</script> --}}
</head>

<body>
{{> _header}}
  {{{body}}}
</body>
<script>

    document.getElementById('userDisplayName').innerHTML = localStorage.getItem('username');
    function showLogout() {
        console.log("showLogout");
        document.getElementById('logout-btn').style.display = 'block';
    }
    function hideLogout() {
        console.log("hideLogout");
        document.getElementById('logout-btn').style.display = 'none';
    }
    var rad = document.serviceForm.serviceType;
    var accountNumber = document.serviceForm.accountNumber;
    //var prev = null;
    for (var i = 0; i < rad.length; i++) {
        rad[i].addEventListener('change', function () {
            
            console.log(this.value, accountNumber.value)
            if(this.value == 'openAccount'){
                fetch('/account-type');
                window.location =`/account-type?accountNumber=${accountNumber.value}`;
            }else if(this.value == 'balance'){
               fetch(`/balance`);
                window.location =`/balance?accountNumber=${accountNumber.value}`;
            }else if(this.value == 'deposit'){
               fetch(`/deposit?accountNumber=${accountNumber.value}`);
                window.location =`/deposit?accountNumber=${accountNumber.value}`;
            }else if(this.value == 'withdrawal'){
               fetch(`/withdrawal?accountNumber=${accountNumber.value}`);
                window.location =`/withdrawal`;
            }
        });
    }
    function logout() {
        
        window.location = '/';
        localStorage.clear();
    }
</script>
</html>